@use '../base/variables' as *;

header {
  background-color: $primary-color;
  color: $text-color;
  padding: 50px 0;

  h1 {
    font-size: 40px;
    text-align: center;

    span {
      font-size: 36px;
      color: $secondary-color;
    }
  }
}