@font-face {
  font-family: 'robotoregular';
  src: url('./assets/fonts/roboto-regular-webfont.eot');
  src: url('./assets/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/roboto-regular-webfont.woff') format('woff'),
       url('./assets/fonts/roboto-regular-webfont.ttf') format('truetype'),
       url('./assets/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}